body {
    background: rgb(231, 231, 231);
}

.page-wrap {
    min-height: 100vh;
}

.container {
    max-width: 900px;
}

img {
    padding: 40px;
}

.container h2{
    font-family: 'Fresca';
    font-size: 3em;
    padding-bottom: 30px;
}

.container p {
    font-size: 1.2em;
    font-family: 'Average Sans';
}

.container .mt-3 {
    padding-top: 25px;
}

.form-controls {
    font-size: 1.2em;
    font-family: 'Average Sans';
    color: rgba(0, 0, 0, 0.473);
    width: 100%;
    padding: 8px;
    border: 2px solid rgb(45, 175, 153);
    border-radius: 4px;
}

.container input[type="submit"] {
  color: #fffbfb;
  padding: 0.4em 1em;
  font-size: 1.3em;
  letter-spacing: 1px;
  font-weight: 600;
  text-transform: uppercase;
  margin: 0.6em 0 0 0;
  -webkit-appearance: none;
  background: rgb(45, 175, 153);
  border: 2px solid transparent;
  border-radius: 4px;
  cursor: pointer;
  -webkit-transition: 0.5s all;
  -moz-transition: 0.5s all;
  -o-transition: 0.5s all;
  -ms-transition: 0.5s all;
  transition: 0.5s all;
  font-family: "Fresca", sans-serif;
}

.container input[type="submit"]:disabled {
    background: rgb(35, 107, 95);
}
