<!-- <div class="container-fluid">
    <table class="table" >  
        <tr ngclass="btn-primary">  
          <th class="tbl1">Product ID</th>  
          <th class="tbl1">Product Name</th>  
          <th class="tbl1">Quantity</th>  
          <th class="tbl1">Reorder Level</th>  
          <th class="tbl1">Price</th>  
          <th class="tbl1">Product Description</th>  
          <th class="tbl1">Category</th>  
          <th class="tbl1">Sub Catogory</th>
          <th class="tbl1">View</th>
          <th class="tbl1">Remove</th>  
        </tr>  
        <tr *ngFor="let product of allProducts | async">  
          <td class="tbl1">{{product.productId}}</td>  
          <td class="tbl1">{{product.productName }}</td>  
          <td class="tbl1">{{product.quantity}}</td>  
          <td class="tbl1">{{product.reorderLevel}}</td>  
          <td class="tbl1">{{product.price}}</td>  
          <td class="tbl1">{{product.productDescription}}</td>
          <td class="tbl1">{{product.category}}</td>
          <td class="tbl1">{{product.subCategory}}</td>
          <td class="tbl1">  
            <button type="button" class="btn btn-info"matTooltip="Click Edit Button">View</button>  
          </td>  
          <td class="tbl2">  
            <button type="button" class="btn btn-danger"matTooltip="Click Delete Button"(click)="deleteProduct(product.productId)">Remove</button>  
          </td>  
        </tr>  

      </table>  
</div> -->

<nav class="navbar navbar-dark fixed-top bg-dark flex-md-nowrap p-0 shadow">
  <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="#">Winkel</a>
  <input class="form-control form-control-dark w-100" type="text" placeholder="Search" aria-label="Search" (keyup)="search($event)">
  <ul class="navbar-nav px-3">
    <li class="nav-item text-nowrap">
      <a class="nav-link" (click) = "logOut()" id="a">Sign out</a>
    </li>
  </ul>
  </nav>

<div class="container-fluid">
 
  <div class="row">
    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
      <div
        class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">Products</h1>
      </div>
      <div class="table-responsive">
        <table class="table table-striped table-sm">
          <thead>
            <tr>
              <th class="tbl1">Product ID</th>
              <th class="tbl1">Product Name</th>
              <th class="tbl1">Quantity</th>
              <th class="tbl1">Reorder Level</th>
              <th class="tbl1">Price</th>
             <!-- <th class="tbl1">Product Description</th> -->
              <th class="tbl1">Category</th>
              <th class="tbl1">Sub Catogory</th>
              <th class="tbl1">View</th>
              <th class="tbl1">Remove</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let product of allProducts | filter:searchText">
              <td class="tbl1">{{product.id}}</td>
              <td class="tbl1">{{product.product_name }}</td>
              <td class="tbl1">{{product.quantity}}</td>
              <td class="tbl1">{{product.reorderLevel}}</td>
              <td class="tbl1">{{product.price}}</td>
              <!--<td class="tbl1">{{product.product_Discription}}</td>-->
              <td class="tbl1">{{product.category}}</td>
              <td class="tbl1">{{product.sub_category}}</td>
              <td class="tbl1">
                <button type="button" class="btn btn-info" matTooltip="Click Edit Button" (click)="openProduct(product)">View</button>
              </td>
              <td class="tbl2">
                <button type="button" class="btn btn-danger" matTooltip="Click Delete Button"
                  (click)="deleteProduct(product.id)">Remove</button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <ngx-smart-modal #viewProduct identifier="viewProduct">
        <div *ngIf="viewProduct.hasData()">
        <div class="text-center"><img class="img" height="320" [src]="viewProduct.getData().photoUrl"></div>
          <h5 class="tbl1"><span id="tag">Product Name :</span> {{viewProduct.getData().product_name}}</h5>
          <h5 class="tbl1"><span id="tag">Product Description :</span> {{viewProduct.getData().product_Discription}}</h5>
        </div>
        <div class="text-center">
       <button type="button"  class="btn btn-primary" (click)="closeProduct()">Close</button>
       </div>
      </ngx-smart-modal>

    </main>
  </div>
  <app-spinner *ngIf="showSpinner"></app-spinner>
</div>