<nav class="navbar navbar-dark fixed-top bg-dark flex-md-nowrap p-0 shadow">
  <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="#">Winkel</a>
  <input class="form-control form-control-dark w-100" type="text" placeholder="Search" aria-label="Search" (keyup)="search($event)">
  <ul class="navbar-nav px-3">
    <li class="nav-item text-nowrap">
      <a class="nav-link" (click) = "logOut()" id="a">Sign out</a>
    </li>
  </ul>
  </nav>

<div class="container-fluid">
 
  <div class="row">
    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
      <div
        class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">Orders</h1>
      </div>
      <div class="table-responsive">
        <table class="table table-striped table-sm">
          <thead>
            <tr>
              <th class="tbl1">Order ID</th>
              <th class="tbl1">Buyer ID</th>
              <th class="tbl1">Total Price</th>
              <th class="tbl1">Date & Time Added</th>
              
              <th class="tbl1">Payment Status</th>
              <th class="tbl1">Details</th>
              
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let orders of allOrders | filter:searchText">
              <td class="tbl1">{{orders.id}}</td>
              <td class="tbl1">{{orders.buyerId }}</td>
              <td class="tbl1">{{orders.total_Price}}</td>
              <td class="tbl1">{{orders.dateAdded | date :"medium"}}</td>
              
              <td class="tbl1">{{orders.paymentStatus}}</td>
         
              
              <td class="tbl1">
                <button type="button" class="btn btn-info" matTooltip="Click Edit Button">Details</button>
              </td>
            
            </tr>
          </tbody>
        </table>
      </div>
    </main>
  </div>
</div>