<body>
  <div>
    <div class="flex-wrap flex-md-nowrap pt-3 pb-2 mb-3">
      <h1>
        <a (click)="back()">
          <!-- <i class="fas fa-hand-point-left"></i> -->
        </a><span class="heading">Categories</span></h1>
      <hr>
    </div>
    <button type="menu" (click)="openModal2()"><i class="fas fa-plus"></i> Add New Category </button>
    <div>
      <div>
        <section class="content">
          <div class="col-md-8 col-md-offset-2">
            <div class="panel panel-default">
              <div class="panel-body">
                <div class="table-container">
                  <table class="table table-filter">
                    <tbody>
                      <tr class="head">
                        <td>Category Id</td>
                        <td>Category Name</td>
                        <td>View</td>
                        <td>Edit</td>
                        <td>Add New Sub Category</td>
                        <td>Delete</td>
                      </tr>
                      <tr data-status="pagado" *ngFor="let cat of allCategories | paginate: { itemsPerPage: 10, currentPage: p}">
                        <td>
                          <div class="media">
                            <div class="media-meta">
                              <!-- <a href="#" class="pull-left">
                                        <img src="https://s3.amazonaws.com/uifaces/faces/twitter/fffabs/128.jpg" class="media-photo">
                                      </a> -->
                              {{cat.id}}
                            </div>
                          </div>
                        </td>

                        <td>
                          <div class="media">
                            <div class="media-body">
                              <h4 class="title">
                                {{cat.categoryName }}
                              </h4>
                            </div>
                          </div>
                        </td>

                        <td class="info">
                          <i class="fas fa-tags" (click)="openModal(cat)"></i>
                        </td>

                        <td class="edit">
                          <i class="fas fa-edit" (click)="openModal4(cat.categoryName, cat.id)"></i>
                        </td>

                        <td class="add">
                          <i class="fas fa-plus-square" (click)="openModal3(cat.id)"></i>
                        </td>

                        <td class="delete">
                          <i class="fas fa-trash-alt" (click)="deleteCategory(cat.id)"></i>
                        </td>

                      </tr>
                    </tbody>
                  </table>
                  <pagination-controls class="my-pagination" (pageChange)="p = $event"></pagination-controls>
                </div>
              </div>
            </div>
          </div>
        </section>
      </div>
    </div>

    <!--Add New Category-->
    <ngx-smart-modal addCategory identifier="addCategory">
      <div class="product_view">
        <div class="modal-dialog">
          <div class="modal-content cat">
            <h1>Add New Category</h1>
            <div class="modal-body">
              <form class="" [formGroup]="categoryForm" (ngSubmit)="addCategory()">
                <div class="form-group">
                  <label for="categoryName" class="sr-only cs">Category Name</label>
                  <input type="text" id="categoryName" class="form-controls" formControlName="categoryName"
                    placeholder="Category Name" autofocus>
                  <div
                    *ngIf="!categoryForm.controls['categoryName'].valid && categoryForm.controls['categoryName'].touched">
                    <label>Category Name required</label>
                  </div>
                </div>
                <input type="button" value="Add" style="background: #2daf99;" [disabled]="!categoryForm.valid"
                  (click)="addCategory()">
                <input type="button" value="Close" (click)="closeModal()">
              </form>
            </div>
          </div>
        </div>
      </div>
    </ngx-smart-modal>

    <!-- View Category Details-->
    <ngx-smart-modal #myModal identifier="myModal">
      <div class="product_view" *ngIf="myModal.hasData()">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-body">
              <div class="row">
                <div class="col-md-12 product_img">
                  <img [src]="myModal.getData().subCategorys[index].url" class="img-responsive">
                </div>
                <div class="col-md-12 product_content">
                  <h4>Id : <span>{{myModal.getData().subCategorys[index].id}}</span></h4>
                  <p>Name : {{myModal.getData().subCategorys[index].subCategoryName}}</p>
                  <input type="button" value="Delete"
                    (click)="deleteSub(myModal.getData().id, myModal.getData().subCategorys[index].id)"
                    style="background: #d9534f; width: 23.3%; margin: 5%;">
                  <input type="button" value="Next" [disabled]="myModal.getData().subCategorys.length===index+1"
                    (click)="nextModal(myModal.getData().subCategorys)"
                    style="background: #2daf99; width: 23.3%; margin: 5%;">
                  <input type="button" value="Close" (click)="closeModal()"
                    style="background: #5d5f61; width: 23.3%; margin: 5%;">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </ngx-smart-modal>

    <!--Edit Category Details-->
    <ngx-smart-modal editCategory identifier="editCategory">
      <div class="product_view">
        <div class="modal-dialog">
          <div class="modal-content cat">
            <h1>Edit Category Details</h1>
            <div class="modal-body">
              <form class="" [formGroup]="updateCategoryForm" (ngSubmit)="editCategoryDetails()">
                <div class="form-group">
                  <label for="categoryName" class="sr-only cs">Category Name</label>
                  <input type="text" id="categoryName" class="form-controls" formControlName="categoryName"
                    placeholder="Category Name">
                  <div
                    *ngIf="!updateCategoryForm.controls['categoryName'].valid && updateCategoryForm.controls['categoryName'].touched">
                    <label>Category Name required</label>
                  </div>
                </div>
                <input type="button" value="Update" style="background: #2daf99;" [disabled]="!updateCategoryForm.valid"
                  (click)="editCategoryDetails()">
                <input type="button" value="Close" (click)="closeModal()">
              </form>
            </div>
          </div>
        </div>
      </div>
    </ngx-smart-modal>
    <!--Add New Sub Category-->
    <ngx-smart-modal addCategory identifier="addSubCategory">
      <div class="product_view">
        <div class="modal-dialog">
          <div class="modal-content cat">
            <h1>Add New Sub Category</h1>
            <div class="modal-body">
              <form class="" [formGroup]="subCategoryForm" (ngSubmit)="addSubCategory()">
                <div class="form-group">
                  <label for="SubCategoryName" class="sr-only cs">Sub Category Name</label>
                  <input type="text" id="SubCategoryName" class="form-controls" formControlName="SubCategoryName"
                    placeholder="Sub Category Name">
                  <div
                    *ngIf="!subCategoryForm.controls['SubCategoryName'].valid && subCategoryForm.controls['SubCategoryName'].touched">
                    <label>Sub Category Name required</label>
                  </div>

                  <br />
                  <img [src]="imageUrl" style="width:100%;">
                  <br />
                  <input style="display: none" type="file" formControlName="url" #url accept="image/*"
                    (change)="onFileChanged($event.target.files)">
                  <input type="button" value="Select File" (click)="url.click()"
                    style="background: #292b2c; font-size: 12px; width: 20%; margin-top: 1%; margin-left: 0%; border-radius: 0%; border: none;">
                  <div *ngIf="!subCategoryForm.controls['url'].valid && subCategoryForm.controls['url'].touched">
                    <label>Image required</label>
                  </div>
                </div>
                <input type="button" value="Add" style="background: #2daf99;" [disabled]="!subCategoryForm.valid"
                  (click)="addSubCategory()">
                <input type="button" value="Close" (click)="closeModal()">
              </form>
            </div>
          </div>
        </div>
      </div>
    </ngx-smart-modal>
    <app-spinner *ngIf="showSpinner"></app-spinner>
  </div>
</body>