<body>
  <div class="container mt-5">
    <div class="row">
      <div class="btn-group">
        <button class="btn btn-danger" btnRadio="Unread" [routerLink]="['/dashboard/unreadMessages']">
          <i class="fa fa-envelope"></i>Unread
        </button>

        <button class="btn btn-info" btnRadio="Messages" [routerLink]="['/dashboard/messages']">
          <i class="fa fa-paper-plane"></i>Messages
        </button>
      </div>
    </div>

    <div class="row" *ngIf="unreadMessages.length==0">
      <h3>No messages</h3>
    </div>
    <br />
    <div class="row" *ngIf="unreadMessages.length>0">
      <table class="table table-hover" style="cursor: pointer">
        <tr>
          <th style="width: 30%">From</th>
          <th style="width: 30%">To</th>
          <th style="width: 30%">Message</th>
          <th style="width: 20%">Received/Sent Time</th>
          <th style="width: 20%"></th>
        </tr>
        <tr *ngFor="let message of unreadMessages" (click)="viewChat(message.id)">
          <td *ngIf="message.isUnRead==true">{{message.sender}}</td>
          <td *ngIf="message.isUnRead==true">{{message.receiver}}</td>
          <td *ngIf="message.isUnRead==true">{{message.message}}</td>
          <td *ngIf="message.isUnRead==true">{{message.timeSent}}</td>
        </tr>
      </table>
    </div>
  </div>
</body>