<div class="container-fluid">
  <div class="row">
    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
      <h2>Add Category</h2>
      <form [formGroup]="categoryForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <label for="category">Category</label>
          <input id="category" formControlName="category" type="text" class="form-control"
            [class.is-invalid]="categoryForm.get('category').invalid && categoryForm.get('category').touched" required
            placeholder="Category">
          <small [class.d-none]="categoryForm.get('category').valid || categoryForm.get('category').untouched"
            class="text-danger">
            Enter Category Name.
          </small>
        </div>
        <div class="form-group">
          <label for="subCategory01">Sub Category 01</label>
          <input id="subCategory1" formControlName="subCategory1" type="text" class="form-control"
            [class.is-invalid]="categoryForm.get('subCategory1').invalid && categoryForm.get('subCategory1').touched"
            required placeholder="Sub Category 01">
            <br />
          <label for="subCategory02">Sub Category 02</label>
          <input id="subCategory2" formControlName="subCategory2" type="text" class="form-control"
            [class.is-invalid]="categoryForm.get('subCategory2').invalid && categoryForm.get('subCategory2').touched"
            required placeholder="Sub Category2">
          <small [class.d-none]="categoryForm.get('subCategory1').valid || categoryForm.get('subCategory1').untouched"
            class="text-danger">
            Must add atleast two Sub Categories.
          </small>
          <br>
          <button type="button" class="btn btn-secondary btn-sm m-2" (click)="addAlternateSubCategories()">
            Add another Sub Category</button>
          <div formArrayName="alternatesubCategories"
            *ngFor="let subCategory of alternatesubCategories.controls; let i = index">
            <input type="text" class="form-control my-1" [formControlName]="i">
          </div>
        </div>

        <button class="btn btn-primary" type="submit" (click)="Add()">Add</button>

      </form>
      {{categoryForm.value | json}}
    </main>
  </div>
</div>