<!-- <div class="container-fluid">
  <div class="row">
    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
      <div
        class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">Add New Category</h1>

      </div>
      <div>

        <body>
          <form class="" [formGroup]= "categoryForm" (ngSubmit)="onSubmit()">
            <div class="form-group">
              <label for="categoryName">Category Name</label>
              <input type="text" id="categoryName" class="form-control cs" formControlName="categoryName"
                placeholder="Category Name" autofocus>
                <div *ngIf="!categoryForm.controls['categoryName'].valid && categoryForm.controls['categoryName'].touched">
                    <small color="danger">Category Name required</small>
                </div>
            </div>

            <div class="form-group">
              <label for="subCat1Name">Sub Category 1 Name</label>
              <input type="text" id="subCat1Name" class="form-control cs" formControlName="subCat1Name"
                placeholder="Sub Category Name">
                <div *ngIf="!categoryForm.controls['subCat1Name'].valid && categoryForm.controls['subCat1Name'].touched">
                    <small color="danger">Sub Category 1 is required</small>
                </div>
            </div>

            <div class="form-group">
              <label for="subCat2Name">Sub Category 2 Name</label>
              <input type="text" id="subCat2" class="form-control cs" formControlName="subCat2Name"
                placeholder="Sub Category Name">
                <div *ngIf="!categoryForm.controls['subCat2Name'].valid && categoryForm.controls['subCat2Name'].touched">
                    <small color="danger">Sub Catgegory 2 is required</small>
                </div>
            </div>

            <br>
            <button type="button" class="btn btn-secondary btn-sm m-2" (click)="addAlternateSubCategories()">
              Add another Sub Category</button>
            <div formArrayName="alternatesubCategories"
              *ngFor="let subCategory of alternatesubCategories.controls; let i = index">
              <input type="text" class="form-control my-1" [formControlName]="i">
            </div>

            <button class="btn btn-primary " [disabled]="!categoryForm.valid" type="submit">Add Category</button>
          </form>
        </body>
      </div>
      {{categoryForm.value | json}}
    </main>
  </div>
</div> -->