@import '../../../assets/dashboard.css';
   
::placeholder{
    color:white;
    opacity:0.8;
}
#a{
    color:white;

}
ul:hover{
    background-color: rgba(126, 126, 129, 0.589);
    cursor: pointer;
}
