<nav class="navbar navbar-dark fixed-top bg-dark flex-md-nowrap p-0 shadow">
  <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="#">Winkel</a>
  <input class="form-control form-control-dark w-100" type="text" placeholder="Search" aria-label="Search"
    (keyup)="search($event)">
  <ul class="navbar-nav px-3">
    <li class="nav-item text-nowrap">
      <a class="nav-link" (click)="logOut()" id="a">Sign out</a>
    </li>
  </ul>
</nav>
<div class="container-fluid">
  <div class="row">
    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
      <div
        class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">Buyers</h1>
      </div>
      <!-- <div class="panel panel-primary filterable">
        <table class="table">
          <thead>
            <tr class="filters">
              <th><input type="text" class="form-control" placeholder="First Name" disabled></th>
              <th><input type="text" class="form-control" placeholder="Last Name" disabled></th>
              <th><input type="text" class="form-control" placeholder="Email" disabled></th>
              
            </tr>
            
            
          </thead>
          <tbody>
            <tr *ngFor="let user of users | buyerfilter:searchText">
              <td>{{user.firstName}}</td>
              <td>{{user.lastName}}</td>
              <td>{{user.email}}</td>
              <td>
                <button type="button" class="btn btn-info" (click)="openBuyer(user)" matTooltip="Click Edit Button">View</button>
              </td>
              <td>
                <button type="button" class="btn btn-danger" matTooltip="Click Delete Button"  
                >Lock</button>
              </td>
           
            </tr>
          </tbody>
        </table> -->
        <div class="table-responsive">
              <table class="table table-striped table-sm">
                <thead>
                  <tr>
                    
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Email</th>
                    <th>View</th>
                    <th>Lock</th>
                    <th>Unlock</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let user of users | buyerfilter:searchText">
                      
                    <td>{{user.firstName}}</td>
                    <td>{{user.lastName}}</td>
                    <td>{{user.email}}</td>
                    <td>
                        <button type="button" class="btn btn-info" (click)="openBuyer(user)" matTooltip="Click Edit Button">View</button>
                    </td>
                    <td>
                        <button type="button" class="btn btn-danger" matTooltip="Click Delete Button" [disabled]="user.isLocked" (click)="LockBuyer(user.id)"
                        > Lock</button>
                    </td>
                      <td>
                <button type="button" class="btn btn-success" matTooltip="Click Delete Button" [disabled]="!user.isLocked" (click)="UnLockBuyer(user.id)">Unlock</button>
              </td>
                  </tr>
                </tbody>
              </table>
          </div> 
      
      <ngx-smart-modal #viewBuyer identifier="viewBuyer">
        <div *ngIf="viewBuyer.hasData()">
        <div class="text-center"><img class="img" height="320" [src]="viewBuyer.getData().imageUrl"></div>
          <h5 class="tbl1"><span id="tag">Delivery Details :</span> {{viewBuyer.getData().deliveryDetails}}</h5>
          <h5 class="tbl1"><span id="tag">Store Information :</span> {{viewBuyer.getData().storeInfo}}</h5>
          <h5 class="tbl1"><span id="tag">Billing Information :</span> {{viewBuyer.getData().billingInfo}}</h5>
          <h5 class="tbl1"><span id="tag">Phone Number :</span> {{viewBuyer.getData().phoneNumber}}</h5>
         
        </div>
        <div class="text-center">
       <button type="button"  class="btn btn-primary" (click)="closeBuyer()">Close</button>
       </div>
      </ngx-smart-modal>
    </main>
  </div>
  <app-spinner *ngIf="showSpinner"></app-spinner>
</div>