@import '../../dashboard/category-info/category-info.component.css';

.flex-wrap a i {
    margin-left: 3%;
    color: #292b2c;
}

.table-filter .media-body .title{
    font-weight: 500;
}

.table-filter .edit button {
    margin-left: 20%;
    border-radius: 60%;
}

.table-filter .edit button i {
    color: white;
    margin-left: 8%;
    font-size: 15px;
}

.table-filter .edit .btn-success{
    background: #2daf99;
}

.modal-dialog .modal-body .product_content h4{
    font-size: 22px;
}

.modal-dialog .modal-body .product_content p {
    font-size: 17px;
}