<html>
<body>
  <div>
    <div class="flex-wrap flex-md-nowrap pt-3 pb-2 mb-3">
      <h1>
        <a (click)="back()">
          <!-- <i class="fas fa-hand-point-left"></i> -->
        </a><span class="heading">Reset Your Password</span></h1>
      <hr>
    </div>
    <form class="" [formGroup]="changePasswordForm" (ngSubmit)="onSubmit()">

      <div class="form-group">
        <show-hide-password size="sm">
          <label for="inputPassword" class="sr-only cs">Password</label>
          <input type="password" id="inputPassword" class="form-controls-pw" formControlName="password"
            placeholder="Password">
        </show-hide-password>
        <div *ngIf="!changePasswordForm.controls['password'].valid && changePasswordForm.controls['password'].touched">
          <label>Enter valid password of minimum 8 characters</label>
        </div>
      </div>

      <div class="form-group">
        <password-strength-meter [password]="changePasswordForm.value.password" [enableFeedback]=true>
        </password-strength-meter>
      </div>


      <div class="form-group">
        <show-hide-password size="sm">
          <label for="inputPassword" class="sr-only cs">Password</label>
          <input type="password" id="inputConfirmPassword" class="form-controls-pw" formControlName="confirmPassword"
            placeholder="Confirm Password">
        </show-hide-password>
        <div *ngIf="changePasswordForm.controls['confirmPassword'].touched && changePasswordForm.hasError('mismatchedPasswords')">
          <label>Password Mismatch</label>
        </div>
      </div>

      <input type="submit" value="Change Password" [disabled]="!changePasswordForm.valid">

    </form>
  </div>

</body>

</html>