#bac{
    height:730px;
    background-image:url("//grapesjs.com/img/bg-gr-v.png"), url("https://data.1freewallpapers.com/download/rock-steady-technology.jpg");
    background-repeat:repeat-y, no-repeat;
    background-size:contain, cover;
}
form{
   /* border:solid;
    padding-left:40px; */
    /* margin-left:200px; */
    /* border-radius:  12px 12px 12px 12px; */
    height: 480px;
    background-color:rgba(255, 234, 234, 0.712);
    /* box-shadow: 2px 2px 2px 2px grey; */
}
.btn{
    background-color:rgba(176, 21, 190, 0.87);
    border: none;
    margin-bottom: 5px;
}
a{
    color: rgb(176, 21, 190);
     font-weight: 400; 
}
