<div class="container-fluid">
  <div class="row">
    <nav class="col-md-2 d-none d-md-block bg-light sidebar">
      <div class="sidebar-sticky">
        <ul class="nav flex-column">
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['info']" routerLinkActive="active">
              <span data-feather="home"></span>
              Dashboard <span class="sr-only"></span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['orders']" routerLinkActive="active">
              <span data-feather="file"></span>
              Orders
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['products']" routerLinkActive="active">
              <span data-feather="shopping-cart"></span>
              Products
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['categoryInfo']" routerLinkActive="active">
              <span data-feather="file"></span>
              Categories
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['buyers']" routerLinkActive="active">
              <span data-feather="users"></span>
              Buyers
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['sellers']" routerLinkActive="active">              
              <span data-feather="users"></span>
              Sellers
            </a>
          </li>
          <li class="nav-item" >          
              <a class="nav-link" data-toggle="collapse" data-target="#demo">
                <span data-feather="users"></span>Advertisements</a>
          </li>
          <ul type="none" >
              <li class="nav-item">
                <a class="nav-link" [routerLink]="['pendingAd']" routerLinkActive="active">              
                  <span data-feather="users"></span>
                   Pending Advertisements
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" [routerLink]="['activeAd']" routerLinkActive="active">              
                  <span data-feather="users"></span>
                   Active Advertisements
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" [routerLink]="['expiredAd']" routerLinkActive="active">              
                  <span data-feather="users"></span>
                   Expired Advertisements
                </a>
              </li>
            </ul>
        </ul> 
      </div>
    </nav>
  </div>
  </div>
  