<div class="container-fluid">
  <div class="row">
    <nav class="col-md-2 d-none d-md-block bg-light sidebar">
      <div class="sidebar-sticky">
        <ul class="nav flex-column">
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['info']" routerLinkActive="active">
              <span data-feather="home"></span>
              Dashboard <span class="sr-only"></span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['orders']" routerLinkActive="active">
              <span data-feather="file"></span>
              Orders
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['products']" routerLinkActive="active">
              <span data-feather="shopping-cart"></span>
              Products
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="buyers.html">
              <span data-feather="users"></span>
              Buyers
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="sellers.html">
              <span data-feather="users"></span>
              Sellers
            </a>
          </li>
        </ul> 
      </div>
    </nav>
  </div>
  </div>
  