<head>
  <!-- Web-Fonts -->
  <link href='//fonts.googleapis.com/css?family=Raleway:400,500,600,700,800' rel='stylesheet' type='text/css'>
  <link href='//fonts.googleapis.com/css?family=Open+Sans:400,600,700' rel='stylesheet' type='text/css'>
  <!-- //Web-Fonts -->
</head>

<body>
  <div class="container w3layouts agileits">
    <div id="chatbox">
      <div id="search">
        <input type="text" id="searchfield" value="Search contacts...">
      </div>
      <div id="friendslist">
        <div id="friends">
          <div class="friend">
            <img src="../../../assets/imgs/black-widow.jpg">
            <p>
              <strong>Nethmi Wijesinghe</strong>
              <br />
              <span>wnethmi96@gmail.com</span>
            </p>
            <div class="status available">6</div>
          </div>

          <div class="friend">
            <img src="../../../assets/imgs/black-widow.jpg">
            <p>
              <strong>Mahdhi Rezvi</strong>
              <br />
              <span>mahdhi@gmail.com</span>
            </p>
            <!-- <div class="status away"></div> -->
          </div>

          <div class="friend">
            <img src="../../../assets/imgs/black-widow.jpg">
            <p>
              <strong>Nethmi Wijesinghe</strong>
              <br />
              <span>nethmi@gmail.com</span>
            </p>
            <!-- <div class="status inactive"></div> -->
          </div>

          <div class="friend">
            <img src="../../../assets/imgs/black-widow.jpg">
            <p>
              <strong>Thanveer Ahamed</strong>
              <br />
              <span>thanveer@gmail.com</span>
            </p>
            <!-- <div class="status inactive"></div> -->
          </div>

          <div class="friend">
            <img src="../../../assets/imgs/black-widow.jpg">
            <p>
              <strong>Raviru Jayathilake</strong>
              <br />
              <span>raviru18@gmail.com</span>
            </p>
            <!-- <div class="status inactive"></div> -->
          </div>

          <div class="friend">
            <img src="../../../assets/imgs/black-widow.jpg">
            <p>
              <strong>Manusha Cheti</strong>
              <br />
              <span>manusha@gmail.com</span>
            </p>
            <!-- <div class="status inactive"></div> -->
          </div>

          <div class="friend agileits">
            <img src="../../../assets/imgs/black-widow.jpg">
            <p>
              <strong>Sachitha Illeyperuma</strong>
              <br />
              <span>sachitha1997@gmail.com</span>
            </p>
            <!-- <div class="status inactive"></div> -->
          </div>
        </div>
      </div>

      <div id="chatview" class="p1">
        <div id="profile">
          <div id="close">
            <div class="cy"></div>
            <div class="cx"></div>
          </div>
          <p>Bucky Barnes</p>
          <span>wintersoldier@gmail.com</span>
        </div>

        <div id="chat-messages">

          <label>Monday 01</label>

          <div class="message">
            <img src="../../../assets/imgs/black-widow.jpg">
            <div class="bubble">
              Buyer's message 01
              <span>4 min</span>
            </div>
          </div>

          <div class="message right agileits">
            <img src="../../../assets/imgs/black-widow.jpg">
            <div class="bubble">
              Admin message 01
              <span>3 min</span>
            </div>
          </div>

          <div class="message">
            <img src="../../../assets/imgs/black-widow.jpg">
            <div class="bubble">
              Buyer's message 02
              <span>2 Min</span>
            </div>
          </div>

          <div class="message right">
            <img src="../../../assets/imgs/black-widow.jpg">
            <div class="bubble">
              Admin message 02
              <span>1 Min</span>
            </div>
          </div>

          <div class="message">
            <img src="../../../assets/imgs/black-widow.jpg">
            <div class="bubble">
              Buyer's message 03
              <span>Now</span>
            </div>
          </div>

        </div>

        <div id="sendmessage">
          <input type="text" value="Send message...">
          <button id="send"></button>
        </div>

      </div>

    </div>

  </div>

</body>