<body>
    <div>
      <div class="flex-wrap flex-md-nowrap pt-3 pb-2 mb-3">
        <h1>
          <a (click)="back()">
            <!-- <i class="fas fa-hand-point-left"></i> -->
          </a><span class="heading">Sellers</span></h1>
        <hr>
      </div>
      <input class="form-controls w-100" type="text" placeholder="Search" aria-label="Search" (keyup)="search($event)">
      <div>
        <div>
          <section class="content">
            <div class="col-md-8 col-md-offset-2">
              <div class="panel panel-default">
                <div class="panel-body">
                  <div class="table-container">
                    <table class="table table-filter">
                      <tbody>
                        <tr class="head">
                          <td>First Name</td>
                          <td>Last Name</td>
                          <td>Email</td>
                          <td>View</td>
                          <td>Lock</td>
                          <td>Unlock</td>
                        </tr>
                        <tr data-status="pagado" *ngFor="let user of users | buyerfilter:searchText">
                          <td>
                            <div class="media">
                              <div class="media-body">
                                <h4 class="title">
                                  {{user.firstName }}
                                </h4>
                              </div>
                            </div>
                          </td>
  
                          <td>
                            <div class="media">
                              <div class="media-body">
                                <h4 class="title">
                                  {{user.lastName }}
                                </h4>
                              </div>
                            </div>
                          </td>
  
                          <td>
                            <div class="media">
                              <div class="media-body">
                                <h4 class="title">
                                  {{user.email}}
                                </h4>
                              </div>
                            </div>
                          </td>
  
                          <td class="info">
                            <i class="fas fa-tags" (click)="openSeller(user)"></i>
                          </td>
  
                          <td class="edit">
                            <button class="btn btn-danger" (click)="LockSeller(user.id)" [disabled]="user.isLocked"><i class="fas fa-lock"></i>
                            </button>
                          </td>
  
                          <td class="edit">
                            <button class="btn btn-success" (click)="UnLockSeller(user.id)" [disabled]="!user.isLocked"><i class="fas fa-unlock"></i>
                            </button>
                          </td>
  
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </section>
        </div>
      </div>
  
      <!-- View Seller Details-->
      <ngx-smart-modal #viewSeller identifier="viewSeller">
        <div class="product_view" *ngIf="viewSeller.hasData()">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-body">
                <div class="row">
                  <div class="col-md-12 product_img">
                    <img [src]="viewSeller.getData().imageUrl" onError="this.src='http://www.buckinghamandcompany.com.au/wp-content/uploads/2016/03/profile-placeholder.png'" class="img-responsive">
                  </div>
                  <div class="col-md-12 product_content">
                    <h4>User Name : <span>{{viewSeller.getData().userName}}</span></h4>
                    <p>Id : {{viewSeller.getData().id}}</p>
                    <p>Role : {{viewSeller.getData().role}}</p>
                    <input type="button" value="Close" (click)="closeSeller()"
                      style="background: #5d5f61; width: 50%; margin-left: 25%;">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </ngx-smart-modal>
  
      <app-spinner *ngIf="showSpinner"></app-spinner>
    </div>
  </body>